/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Global Box Sizing */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* CSS Variables */
:root {
  --bg: #111010;
  --text: #f2f2f2;
  --secondary: #1c1c1c;
  --font-size-base: 16px;
  --font-body: 'Inter', system-ui, sans-serif;
  --btn-color: #f294b6;
  --box-shadow: #f3d44b;
}

/* Responsive Fonts */
body {
  color: var(--text);
  background-color: var(--bg);
  font-family: var(--font-body);
  font-size: var(--font-size-base);
}

@media (max-width: 768px) {
  body {
    font-size: calc(var(--font-size-base) - 2px);
  }
}

@media (max-width: 576px) {
  body {
    font-size: calc(var(--font-size-base) - 2px);
  }
}

/* Heading Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 500;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
}

.btn {
  width: auto;
  max-width: 100%;
  height: 40px;
  background: var(--btn-color);
  border: #000 1px solid;
  box-sizing: border-box;
  box-shadow: 4px 4px 0 var(--box-shadow);
  font-weight: normal;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #000;
  font-size: 0.8em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
  padding: 0 20px;
  font-family: var(--font-secondary);
}

.btn:hover {
  box-shadow: 0px 0px 0 #000;
}

.btn:active {
  box-shadow: 2px 2px 0 var(--box-shadow);
  transform: translate(2px, 2px);
}

/* Fixed Navigation Bar */

.navbar {
  position: fixed;
  top: 1.2rem;
  left: 2rem;
  z-index: 90;
  max-height: 50px;
  border-radius: 50px;
  background-color: var(--secondary);
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 7px 1rem;
}

.navbar-item {
  font-weight: 500;
  margin-right: 1rem;
  letter-spacing: -0.011em;
}

.nav-img__container {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
}

.nav-img__container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
  background-position: 50%;
}

.root_body {
  width: 100%;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1440px;
}

.root_inner {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  padding: 0 2rem;
}

.login_container {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  margin-top: 2rem;
}

.login_container h1 {
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 0.8rem;
  letter-spacing: -0.05em;
}

.login_container p {
  margin-bottom: 0.8rem;
}

/* Responsive Divs */
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.container_inner {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--secondary);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #343333;
  width: 300px;
  text-align: center;
}

.modal-content h4 {
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.modal-content p {
  margin-bottom: 0.5rem;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

/* Button Style for the sign-out confirmation modal */
.modal-buttons button {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--text);
}

#confirm-signout {
  background-color: #79e47d;
}

#cancel-signout {
  background-color: #f44336;
}

.logout {
  color: var(--text);
}

button {
  margin: 5px;
}

/* Responsive Styling */

@media (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .modal-content {
    width: 80%;
  }
}
/* modal styles */

.card_container {
  position: relative;
}

.cool-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.cool-list li {
  position: relative;
  margin-bottom: 0.4rem;
}

.cool-list li:nth-child(2n + 1) {
  transform: translateY(-40px);
}

.card_inner {
  position: relative;
  width: 40vh;
  height: 50vh;
  overflow: hidden;
  border-radius: 4px;
}

.card_inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_inner .info {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(19, 18, 18, 0.3)
  );
}

.card_inner .info h4 {
  margin-top: auto;
  letter-spacing: -0.011em;
  font-size: 0.9rem;
}

.card_inner .info h2 {
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: -0.03em;
}

.card_inner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card_inner .overlay_inner {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.card_inner .overlay_inner h4 {
  letter-spacing: -0.011em;
  font-size: 0.9rem;
}

.card_inner .overlay_inner h2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.card_inner:hover .overlay {
  opacity: 1;
}
