/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Global Box Sizing */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
}

/* CSS Variables */
:root {
  --bg: #111010;
  --text: #f2f2f2;
  --secondary: #1c1c1c;
  --font-size-base: 16px;
  --btn-color: #f294b6;
  --box-shadow: #f3d44b;
  --page-padding: 1.5rem;
  --page-max-width: 1200px;
  --transparent: rgba(255, 255, 255, 0);
}

/* Responsive Fonts */
body {
  color: var(--text);
  background-color: var(--bg);
  font-family: 'Inter', -apple-system, 'Helvetica Neue', Helvetica, system-ui,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
  font-size: var(--font-size-base);
}

@media (max-width: 768px) {
  body {
    font-size: calc(var(--font-size-base) - 2px);
  }
}

@media (max-width: 576px) {
  body {
    font-size: calc(var(--font-size-base) - 2px);
  }
}

/* Heading Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 500;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

.btn {
  width: auto;
  max-width: 100%;
  height: 40px;
  background: var(--btn-color);
  border: #000 1px solid;
  box-sizing: border-box;
  box-shadow: 4px 4px 0 var(--box-shadow);
  font-weight: normal;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #000;
  font-size: 0.8em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
  padding: 0 20px;
  font-family: var(--font-secondary);
}

.btn:hover {
  box-shadow: 0px 0px 0 #000;
}

.btn:active {
  box-shadow: 2px 2px 0 var(--box-shadow);
  transform: translate(2px, 2px);
}

/* Fixed Navigation Bar */

.navbar {
  position: fixed;
  top: 1.2rem;
  left: 2rem;
  color: var(--text);
  z-index: 90;
  font-weight: 500;
  max-height: 50px;
  outline: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  /* backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.05);
  border-image: initial;
  border-radius: 999px; */
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 7px 1rem;
}

.navbar-item {
  font-weight: 600;
  margin-right: 1rem;
  letter-spacing: -0.011em;
  text-decoration: none;
  cursor: pointer;
}

.nav-img__container {
  width: 28px;
  height: 28px;
  margin-right: 0.5rem;
}

.nav-img__container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
  background-position: 50%;
}

.main_root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100vh;
}

.root_body {
  --header-height: 48px;
  overflow-x: hidden;
  margin-top: calc(-1 * var(--header-height));
  padding-top: var(--header-height);
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  margin-bottom: -164px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: radial-gradient(
    ellipse 80% 50% at 50% -10%,
    rgba(119, 198, 131, 0.3),
    var(--transparent)
  );

  /* background: radial-gradient(
    ellipse at center,
    rgba(119, 198, 131, 0.6),
    rgba(119, 198, 131, 0.3),
    var(--transparent)
  ); */
}

.root_inner {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  max-width: var(--page-max-width);
  width: 100%;
  margin: 0px auto;
}

.login_container {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  margin-top: 2rem;
}

.login_container h1 {
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 0.8rem;
  letter-spacing: -0.05em;
}

.login_container p {
  margin-bottom: 0.8rem;
}

/* Responsive Divs */
.container {
  display: flex;
  flex: initial;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.container_inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;
}

.f_name {
  outline: none;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 28px;
  color: rgb(247, 248, 248);
  backdrop-filter: blur(12px);
  font-size: 13px;
  font-weight: 500;
  line-height: 28px;
  white-space: nowrap;
  padding: 0px 12px;
  background: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.05);
  border-image: initial;
  border-radius: 999px;
  text-transform: capitalize;
}

#colored {
  color: #54ef59;
}

.intro {
  position: relative;
  display: flex;
  flex: initial;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  /* margin-bottom: 3rem; */

  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
  max-width: var(--page-max-width);
  width: 100%;
  margin: 0px auto;
}

.intro_title {
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: 600;
  margin: 24px 0px;
}

.intro p {
  color: rgb(180, 208, 180);
  text-align: center;
  margin: 0px 0px 38px;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.03em;
}

@media (max-width: 768px) {
  .intro_title {
    font-size: 2rem;
    letter-spacing: -0.01em;
  }
  .intro p {
    font-size: 16px;
  }
}

/* modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--secondary);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #343333;
  width: 300px;
  text-align: center;
}

.modal-content h4 {
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.modal-content p {
  margin-bottom: 0.5rem;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

/* Button Style for the sign-out confirmation modal */
.modal-buttons button {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--text);
}

#confirm-signout {
  background-color: #79e47d;
}

#cancel-signout {
  background-color: #f44336;
}

.logout {
  margin-top: 0.3em;
}

/* Responsive Styling */

@media (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .modal-content {
    width: 80%;
  }
}
/* modal styles */

.card_container {
  position: relative;
}

.cool-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

@media (min-width: 600px) {
  .cool-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cool-list li {
  position: relative;
  margin-bottom: 0.4rem;
}

/* .cool-list li:nth-child(2n + 1) {
  transform: translateY(-40px);
} */

.card_inner {
  position: relative;
  width: 40vh;
  height: 50vh;
  overflow: hidden;
  border-radius: 4px;
}

.card_inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_inner .info {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(19, 18, 18, 0.3)
  );
}

.card_inner .info h4 {
  margin-top: auto;
  letter-spacing: -0.011em;
  font-size: 0.9rem;
}

.card_inner .info h2 {
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: -0.03em;
}

.card_inner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card_inner .overlay_inner {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.card_inner .overlay_inner h4 {
  letter-spacing: -0.011em;
  font-size: 0.9rem;
}

.card_inner .overlay_inner h2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.card_inner:hover .overlay {
  opacity: 1;
}

/* nowplaying card */
.now-playing {
  position: fixed;
  top: 1.2rem;
  right: 2rem;
  z-index: 90;
  max-height: 50px;
  outline: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(247, 248, 248);
  backdrop-filter: blur(12px);
  font-weight: 500;
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.05);
  border-image: initial;
  border-radius: 999px;
}

.now-playing_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 7px 1rem;
}

.now-playing_item {
  color: var(--text);
  font-weight: 600;
  margin-right: 1rem;
  letter-spacing: -0.011em;
  text-decoration: none;
}

.now-playing_img {
  width: 28px;
  height: 28px;
  margin-right: 0.5rem;
}

.now-playing_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
  background-position: 50%;
}

.logo {
  width: 1.2rem;
  margin-left: auto;
  margin-top: 0rem;
  height: 1.2rem;
  display: block;
  overflow: hidden;
}

/* .uppercase {
  text-transform: uppercase;
} */

.form_ {
  margin-bottom: 38px;
}
