<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Discover how you listen</h1>
    <p>Explore your music taste profile and create awesome playlists</p>
    <a class="btn" href="{{ auth_url }}"> login with spotify </a>
  </body>
</html>
